html {
    height: 100%;
}

body 
{
    margin: 0;
    padding: 0;
    height: 100%;
}

.scrollbar {
    bottom: 0px;
    left: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    overflow-x: auto;
}

.scroll {
    height: 1px;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #CCC;
    border-radius: 20px;
    border: 3px solid #f1f1f1;
}

.wrapper {
    display: flex;
    height: 100%;
}

.shield {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.box {
    box-sizing: border-box;
    flex: 1 1 auto;
    height: 100%;
    border: 0;
}

.one {
    flex: 1 1 auto;
}

.two {
    flex: 1 1 auto;
}

.handler {
    width: 10px;
    background: #f1f1f1;
    padding: 0;
    cursor: ew-resize;
    flex: 0 0 auto;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

.handler::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background: #CCC;
    margin: 0 auto;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}